
<!-- Models -->
<sly data-sly-use.model="com.adobe.aem.gia.project.core.models.DataSelector"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>


<!-- Component -->
<div class="cmp-dataSelector__wrapper" data-cmp-is="dataSelector">
    <h1>Test</h1>

    <sly data-sly-resource="${'placeholder-parsys' @ resourceType='wcm/foundation/components/parsys'}">
<!-- 
    <sly
      data-sly-use.template="partials/parsys.html"
      data-sly-call="${template.parsys}"
    /> -->
</div>
