
//== Font

$font-family:                   "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-headline-font-family:     "Gill Sans", sans-serif;         
$font-size:                  16px;
$font-height:           1.5;

// Typography 
$font-headline-size--sm: 18px;
$font-headline-size--md: 30px;
$font-headline-size--lg: 42px;


//== Color

// Normal mode
$color-foreground:      #202020;
$color-background:      #f5f5f5;
$color-link:            #2020E0;
$color-accent:  #058743;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
